body {
    background: #333;
    color: #e8e8e8;
}

.topbar {
    background: black;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

a {
    color: red;
}

.article a, .main-article a, .article-grid a {
    color: white;
}

.main-nav a {
    color: red;
}

.main-article-text p, .category-header p {
    color: #b8b8b8;
}

.card {
    background: black;
    border: 1px solid silver;
}

blockquote {
    background: #222;
}

footer {
    background: black;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    color: #e8e8e8;
}

input, textarea, select {
    background-color: #555; /* darker gray for dark mode */
    color: #e8e8e8;
    border: 1px solid #777;
}

button, input[type="file"]::file-selector-button {
    background-color: black;
    color: red;
    border: 1px solid red;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

button:hover, input[type="file"]::file-selector-button:hover {
    background-color: #111;
}
