html, body {
    height: 100%;
    width: 100%;
}

.w8 {
    width: 80%;
    margin-left: 10%;
}

body {
    margin: 0;
    font-family: "Open Sans", serif;
    background: #FFFFFF;
    color: #333333;
    line-height: 1.4;
    display: block;
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

form {
    min-width: 420px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.container {
    column-count: 2;
    column-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    vertical-align: top;
    border-bottom: solid 3px #E0E0E0;
}

.container-wide {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    vertical-align: top;
    border-bottom: solid thin #E0E0E0;
}

.container > * {
    display: block;
}

.content {
    /*max-width: 1200px;*/
    margin: 20px auto;
    padding: 0 20px;
    overflow: auto;
    padding-bottom: 125px;
    max-width: 2990px;
}

.topbar {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    vertical-align: bottom;
    padding: 12px 24px;
    border-bottom: 3px solid #E0E0E0;
    z-index: 10;
    min-height: 80px;
    max-width: 2990px;
}

.topbar-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 2990px;
    text-align: center;
}

.topbar .left {
    width: 380px;
    text-align: left;
}

.topbar .center {
    width: 200px;
    text-align: center;
}

.topbar .right {
    width: 380px;
}

.topbar .right form {
    min-width: 380px;
}

.logo:hover,
.logo:focus,
.logo:active {
    text-decoration: none;
}

a.logo, a.logo:hover {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color: #333333;
    display: inline-block;
    line-height: 70px;
}

.logo .b {
    color: #0002f5;
}

a {
    text-decoration: none;
    color: #007bff;
}

.red {
    color: #dc3545;
}

a h1, a h2, a h3, a h4, a h5, a h6 {
    color: #333333;
}


article a:visited {
    text-decoration: none;
    color: #6c757c !important;
}

article a:hover {
    text-decoration: none;
    color: #0056b3 !important;
}


.breadcrumb a {
    text-decoration: underline;
}

.main-nav {
    padding-top: 10px;
    text-align: center;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-article-text a.category, .main-nav a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 2px;
    padding-left: 8px;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 1px;
    background: black;
    color: white;
    font-size: 13px;
    border-radius: 4px;
}

.top-sections {
    display: flex;
    gap: 0;
    margin-bottom: 40px;
    border-bottom: solid thin #E0E0E0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.weather {
    background-image: url("../images/weather-icon-17.png");
    height: 17px;
    width: 21px;
    /*margin-top: 2px;*/
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.main-article {
    display: flex;
    width: 64%;
    gap: 0;
    margin-bottom: 0;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
}

.main-article-text {
    width: 46.875%; /* (30 / 64) * 100 */
    padding-right: 20px;
    box-sizing: border-box;
}

.main-article a:has(img) {
    width: 53%; /* (34 / 64) * 100 */
}

.main-article img {
    width: 100%;
    border-radius: 4px;
}

.most {
    margin-top: -45px;
    margin-bottom: 0;
}

.most table {
    display: inline-block;
}

.most-image {
    width: 45px;
    height: 45px;
    border: solid thin red;
    margin: 5px;
}

.most-articles {
    vertical-align: middle;
}

.most-articles * {
    display: inline-block;
}


.arrow {
    width: 18px;
    height: 25px;
    display: inline-block;
}

.red-arrow-left {
    background-image: url("../images/red_arrow_left.png");
}

.red-arrow-right {
    background-image: url("../images/red_arrow_right.png");
}

.white-arrow {
    width: 13px;
    height: 19px;
    display: inline-block;
    background-image: url("../images/white_arrow.png");
}

.right-articles {
    display: flex;
    width: 36%;
}

.first-article, .second-article {
    width: 50%; /* (18 / 36) * 100 */
    padding-left: 20px;
    box-sizing: border-box;
}

.main-article-text p, .category-header p {
    font-size: 15px;
    color: #444;
}

.article-grid {
    margin-top: 30px;
    margin-bottom: 10px;
}

.card, .article-grid article {
    padding: 20px;
    display: block;
}

.card a, .card img {
    display: inline-block;
}

.article-page .breadcrumb {
    font-size: 12px;
    margin-bottom: 18px;
    opacity: 0.7;
}

.article-page .breadcrumb a {
    color: inherit;
    text-decoration: none;
}

.article-page .breadcrumb a:hover {
    text-decoration: underline;
}

.article {
    max-width: 820px;
    margin: 0 auto;
}

.article-title {
    font-size: 2.6rem;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.25;
}

.article-meta {
    font-size: 0.95rem;
    opacity: 0.75;
    margin-top: 12px;
    margin-bottom: 28px;
}

.article-figure {
    margin: 32px 0;
    color: #666666;
}

.article-figure img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
}

.article-figure figcaption {
    margin-top: 6px;
    font-size: 0.9rem;
    opacity: 0.7;
}

p {
    margin-bottom: 18px;
    font-size: 1.12rem;
    line-height: 1.68;
    margin-top: 0;
}

.split-layout {
    display: flex;
    gap: 20px;
}

.split-column {
    flex: 1;
}

.category-header {
    background: black;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.little {
    background-image: url("../images/little_arrow.png");
    background-repeat: repeat-x;
    height: 11px;
}

blockquote {
    margin: 28px 0;
    padding: 18px 24px;
    background: #FFFFFF;
    border-left: 4px solid #E0E0E0;
    font-style: italic;
    font-size: 1.15rem;
    line-height: 1.55;
    margin-top: 0;
}

.related-section {
    margin-top: 35px;
}

.double {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

.half {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.half.left {
    margin-right: 20px;
}


.first img {
    width: 200px;
    height: 200px;
}

footer {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #E0E0E0;
    height: 50px;
    width: 100%;
    vertical-align: bottom;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.video-holder {
    position: relative;
    width: 100%;
    max-width: 497px;
    margin: 0 auto;
    overflow: hidden;
}

.video {
    width: 100%;
    height: auto;
    display: block;
}

div.all {
    width: 100%;
    position: relative;
    min-height: 100%;
}

.search button, .search input {
    display: inline-block;
    background: none;
}

.search button {
    height: 40px;
    width: 40px;
    border: none !important;
}

.search input {
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-size: 20px;
}

.search-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('../images/search-50.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 7px;
}
