body {
    background: #111111;
    color: #f6f4ef;
}

a.logo, a.logo:hover {
    color: white !important;
}

.topbar {
    border-bottom: 1px solid silver;
}

a {
    color: red;
}

.article a, .main-article a, .article-grid a {
    color: #f6f4ef;
}

.main-nav a {
    color: red;
}

.main-article-text p, .category-header p {
    color: #b8b8b8;
}

blockquote {
    background: #222;
}

footer {
    color: #e8e8e8;
}

input, textarea, select {
    background-color: #555; /* darker gray for dark mode */
    color: #e8e8e8;
    border: 1px solid #777;
}

button, input[type="file"]::file-selector-button {
    background-color: black;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

button:hover, input[type="file"]::file-selector-button:hover {
    background-color: #111;
}

.weather {
    background-image: url("../images/weather-icon-17-light.png");
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

a h1, a h2, a h3, a h4, a h5, a h6 {
    color: white;
}

.search-icon {
    background-image: url('../images/search-50-white.png');
}

.category {
    background: #f6f4ef;
}

.black {
    background: red;
    color: black;
}

.main-article-text p, .category-header p, .text p, article p {
    color: #f6f4ef;
}

.always-white, .always-white:focus, .always-white:visited {
    color: black;
}
