<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXO.cz — {{ title }}</title>
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-dark.css" media="(prefers-color-scheme: dark)">
</head>
<body>
<div class="all">
    <header class="topbar">
        <a href="/" class="logo">NEXO</a>
        <nav class="main-nav">
            <a href="republika.html">republika</a>
            <a href="zahranici.html">zahraničí</a>
            <a href="technologie.html">technologie</a>
            <a href="finance.html">finance</a>
            <a href="veda.html">věda</a>
        </nav>
    </header>
    <main class="content">
        <nav class="breadcrumb">
            <a href="/">domů</a> /
            <a href="{{ category }}.html">{{ category_display }}</a> /
            {{ title }}
        </nav>
        <article class="article">
            <h1 class="article-title">{{ title }}</h1>
            <div class="article-meta">
                <span>{{ author }} • {{ date }}</span>
            </div>
            <figure class="article-figure">
                <img src="uploads/{{ image_path }}" alt="{{ title }}">
                <figcaption>{{ image_description }}</figcaption>
            </figure>

            {{ text|safe }}
            {% if video_path.is_some() %}
            <div class="container">
                <div class="video-holder">
                    <video muted playsinline controls class="video">
                        <source src="/uploads/{{ video_path.as_ref().unwrap() }}" type="video/mp4">
                    </video>
                </div>
            </div>
            {% endif %}
        </article>
        <section class="related-section"{% if related_snippets.is_empty() %} style="display: none;"{% endif %}>
            <h2>související články</h2>
            <div class="article-grid">
                {{ related_snippets|safe }}
                <!-- SNIPPETS -->
            </div>
        </section>
    </main>
    <footer>
        <p>NEXO © 2026</p>
    </footer>
</div>
</body>
</html>
