<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nový článek</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles-dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="../css/webapp.css">
</head>
<body>
    <h1>Vytvořit nový článek</h1>
    <form action="/create" method="post" enctype="multipart/form-data">
        <div>
            <label>Titulek</label><br>
            <input type="text" name="title" required>
        </div>
        <div>
            <label>Autor</label><br>
            <input type="text" name="author" required>
        </div>
        <div>
            <label>Text článku</label><br>
            <textarea name="text" rows="20" cols="50" required></textarea>
        </div>
        <div class="container-wide">
            <p>
                prázdný řádek pro nový odstavec
            </p>
            <p>
                dva prázdné řádky pro novou sekci
            </p>
            <p>
                řádek se třemi mezerami na začátku pro "quote"
            </p>
        </div>

        <div class="container-wide">
            <br/>
            <label>Krátký text, souvysející článek náhled</label><br>
            <textarea name="short_text" rows="5" cols="50" required></textarea>
        </div>

        <div class="container-wide">
            <br/>
            <label>Soubor obrázku článku</label><br>
            <input type="file" name="image" accept="image/*" required>
            <br/>
            <label>Soubor Video obrázku</label><br>
            <input type="file" name="video" accept="video/*">
        </div>
        <div>
            <br/>
            <label>Kategorie</label><br>
            <select name="category">
                <option value="zahranici">Zahraničí</option>
                <option value="republika">Republika</option>
                <option value="finance">Finance</option>
                <option value="technologie">Technologie</option>
                <option value="veda">Věda</option>
            </select>
        </div>
        <br>
        <button type="submit">Vytvořit článek</button>
        <br>
        <br>
    </form>
</body>
</html>
