<section class="main-article">
    <div class="main-article-text">
        <a href="{{ url }}">
            <h2>
                {% if is_exclusive %}<span class="red">EXKLUZIVNĚ:</span>{% endif %}
                {{ title }}
            </h2>
        </a>
        <a class="category" href="{{ category_url }}">{{ category_name }}</a>
        <a href="{{ url }}">
            <p>{{ short_text }}</p>
        </a>
    </div>
    <a href="{{ url }}"><img src="uploads/{{ image_path }}" alt="{{ image_description }}"></a>
</section>
